@using Microsoft.AspNetCore.Identity
@using AspNetCoreStarter.Domain

@inject SignInManager<ApplicationUser> signInManager

@if (signInManager.IsSignedIn(this.User))
{

}
else
{
    <div class="navbar-item">
        <div class="buttons has-addons">
            <a asp-controller="Account" asp-action="Register" class="button is-primary">
                <strong>Register</strong>
            </a>
            <a asp-controller="Account" asp-action="Login" class="button is-warning">
                <strong>Login</strong>
            </a>
        </div>
    </div>
}