@model AspNetCoreStarter.Features.Identity.Register.Command
@*
    App login page/partial. Could easily be changed to be a dynamic modal in by _Layout.cshtml.
*@
@{
    ViewData["title"] = "Register";

    var tzItems = TimeZoneInfo.GetSystemTimeZones()
                .Select(tz => new SelectListItem(tz.DisplayName, tz.BaseUtcOffset.ToString(), (Model?.TimeZoneSelection ?? "") == tz.Id));
}

<div class="container">
    <div class="column">
        <div class="box">
            <form asp-controller="Account" asp-action="Register" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="has-text-danger is-danger"></div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label asp-for="EmailAddress" class="label"></label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input asp-for="EmailAddress" class="input" />
                                <span asp-validation-for="EmailAddress" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label asp-for="Username" class="label"></label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input asp-for="Username" class="input" />
                                <span asp-validation-for="Username" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <label asp-for="Password" class="label field-label"></label>
                    <div class="field-body">
                        <div class="field control">
                            <input asp-for="Password" class="input" />
                            <span asp-validation-for="Password" class="has-text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <label asp-for="ConfirmPassword" class="label field-label"></label>
                    <div class="field-body">
                        <div class="field control">
                            <input asp-for="ConfirmPassword" class="input" />
                            <span asp-validation-for="ConfirmPassword" class="has-text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <label asp-for="TimeZoneSelection" class="label field-label"></label>
                    <div class="control is-expanded field-body">
                        <div class="select is-fullwidth">
                            <select asp-for="TimeZoneSelection" asp-items="tzItems">
                                <option disabled selected>Please select...</option>
                            </select>
                            <span asp-validation-for="TimeZoneSelection" class="has-text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <input type="submit" class="button is-primary is-block is-fullwidth" value="Register">
            </form>
        </div>
    </div>
</div>